.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  height: 10vh;
  position: sticky;
  top: 0;
  left: 0;
  width: auto;
  z-index: 1000;
}

.header-div1 {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  height: 100%;
}
.header-div1 img {
  height: 100%;
}
.title {
  font-size: 5vh;
  color: #000;
}

.header-div2 {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header-seccion {
  width: 140px;
  height: 5vh;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: blue;
}