/*====QUIENES SOMOS======*/

.section-2 {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 10%;
  margin: 1px;
  gap: 90px;
  height: 115vh;
}

.section-gap {
  gap: 28px;
  display: flex;
  flex-direction: column;
}

.full-section2-card1 span {
  border: 2px solid hsl(108, 100%, 50%);
  border-radius: 30px;
  display: flex;
  width: 45px;
}

.full-section2-card2 {
  display: flex;
  justify-content: center;
  height: 60vh;
  gap: 100px;
}

.center-section2{
  justify-items: center;
}

.full-section2-img {
  height: 50%;
  
}

.cards-fondo-section2 {
  display: flex;
  justify-content: space-evenly;
  height: 23vh;
  gap: 20px;
}
.cards3-section2{
  border: 2px solid #7575753c;
  border-radius: 5px;
  text-align: center;
  width: 30%;
  height: 100%;
  padding: 2%;
  
}
