/* ===========================
   TARJETAS (CARDS)
=========================== */
.chart-sector canvas { flex: 1 1 55%; max-width: 55%; height: 100% !important; }

/* Contenedor de las tarjetas */
.cards{

    /* Utiliza CSS Grid */
    display:grid;

    /* Crea cuatro columnas del mismo tamaño */
    grid-template-columns:repeat(4,1fr);

    /* Espacio entre tarjetas */
    gap:20px;

    /* Separación superior */
    margin-top:20px;
}


/* Diseño de cada tarjeta */
.card{

    /* Fondo blanco */
    background:white;

    /* Espacio interno */
    padding:20px;

    /* Bordes redondeados */
    border-radius:12px;

    /* Sombra */
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}


/* Título de cada tarjeta */
.card h3{

    /* Color del texto */
    color:#666;

    /* Espacio inferior */
    margin-bottom:10px;
}


/* Valor mostrado en la tarjeta */
.card p{

    /* Tamaño grande */
    font-size:28px;

    /* Texto en negrita */
    font-weight:bold;
}


/* ===========================
   GRÁFICOS
=========================== */

/* Contenedor de los gráficos */
.charts{

    /* Utiliza Grid */
    display:grid;

    /* Dos columnas */
    grid-template-columns:1fr 1fr;

    /* Espacio entre gráficos */
    gap:20px;

    /* Separación superior */
    margin-top:30px;
}


/* Área de cada gráfico */
.chart{

    /* Fondo blanco */
    background:white;

    /* Altura fija */
    height:300px;

    /* Bordes redondeados */
    border-radius:12px;

    /* Sombra */
    box-shadow:0 2px 10px rgba(0,0,0,0.1);

    /* Utiliza Flexbox */
    display:flex;

    /* Centra horizontalmente */
    justify-content:center;

    /* Centra verticalmente */
    align-items:center;

    /* Tamaño del texto */
    font-size:20px;

    /* Color del texto */
    color:#888;
}