.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.encabezado h1 {
  font-size: 28px;
  color: #222;
}

.btn-nuevo {
  background: #1f2937;
  color: white;
  text-decoration: none;
  padding: 12px 18px;
  border-radius: 8px;
  font-weight: 600;
}

.btn-nuevo:hover {
  opacity: 0.9;
}

.buscador {
  margin-bottom: 20px;
}

.buscador input {
  width: 350px;
  padding: 12px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
}

.activo {
  background: #d1fae5;
  border-radius: 150px;
  color: #065f46;
}

.inactivo {
  background: #fee2e2;
  border-radius: 150px;
  color: #991b1b;
}
.div-table {
  background: white;
  border: 1px solid #000;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(133, 131, 131, 0.5);

  margin-left: 160px;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.thead {
  background: #bfc0c2;
}

.thead th {
  text-align: left;
  padding: 15px;
}

.tbody th {
  border-top: 1px solid #0e0e0e;
  padding: 8px;
}

