footer {
    background-color: #fff; /* El pie de página tendrá fondo blanco */
}

.flex {
    background-color: rgb(48, 35, 109); /* fondo morado oscuro para el contenedor */
    display: flex; /* activa flexbox para organizar elementos internos */
    height: 30vh; /* altura relativa al 30% de la ventana */
    border: 3px solid rgb(97, 97, 97); /* borde gris de 3px */
    border-radius: 30px; /* esquinas redondeadas de 30px */
}

.flex {
    background-color: rgb(48, 35, 109); /* Fondo morado oscuro para el contenedor */
    display: flex; /* Activa el modelo flexbox para organizar elementos en fila o columna */
    height: 30vh; /* Altura del contenedor: 30% de la altura de la ventana */
    border: 3px solid rgb(97, 97, 97); /* Borde gris de 3px */
    border-radius: 30px; /* Bordes redondeados de 30px */
}