* {
  margin: 0%; /* elimina márgenes por defecto de todos los elementos */
  padding: 0%; /* elimina relleno por defecto de todos los elementos */
}

body {
  background-color: rgba(169, 169, 169, 0.39); /* color de fondo gris semitransparente */
  font-family: "inter", sans-serif; /* tipografía principal */
}
