* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: rgba(169, 169, 169, 0.39);
  font-family: 'inter', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  height: 10vh;
  position: sticky;
  top: 0;
  left: 0;
  width: auto;
  z-index: 1000;
}


.header-div1 {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  height: 100%;
}
.header-div1 img {
  height: 100%;
}
.header-div1 h2 {
  font-size: 40px;
  color: #000;
}

.header-div2 {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header-seccion {
  width: 140px;
  height: 5vh;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: blue;
}

.section-1 {
  background-image: url(../assets/img/WhatsApp\ Image\ 2026-06-03\ at\ 11.08.42\ AM.jpeg);
  color: #fff;
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section-1 p {
  font-size: 20px;
}

.section-eslogan{
  padding: 20px;
}

.section-eslogan p{
  color: transparent;
  -webkit-text-stroke: 1px #97f68e;
}

.section-eslogan h1 {
  font-size: 90px;
  color: #fff;
 /* -webkit-text-stroke: 2px #fff;*/
}

.section-eslogan h1 span{
  color: #97f68e;
}


.cards-fondo-1 {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  color: #000;
  border-top: 0 solid transparent;
  border-radius: 20px 20px 0 0;
  height: 20vh;
}

.section-cards{
  display: flex;
  align-items: center;
  gap: 25px;
}

.section-cards img{
  height: 50px;
}


.section-1-cards-fondo{
  align-content: end;

}

.section-2card{
  display: flex;
  justify-content: space-around;
}

