* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: rgba(169, 169, 169, 0.39);
  font-family: "inter", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  height: 10vh;
  position: sticky;
  top: 0;
  left: 0;
  width: auto;
  z-index: 1000;
}

.header-div1 {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  height: 100%;
}
.header-div1 img {
  height: 100%;
}
.title {
  font-size: 5vh;
  color: #000;
}

.header-div2 {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header-seccion {
  width: 140px;
  height: 5vh;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: blue;
}

.section-1 {
  background-image: url(./assets/img/WhatsApp\ Image\ 2026-06-03\ at\ 11.08.42\ AM.jpeg);
  color: #fff;
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section-1 p {
  font-size: 20px;
}

.section-eslogan {
  padding: 20px;
}

.section-eslogan p {
  color: transparent;
  -webkit-text-stroke: 1px #97f68e;
}

.section-eslogan h1 {
  font-size: 90px;
  color: #fff;
  /* -webkit-text-stroke: 2px #fff;*/
}

.section-eslogan h1 span {
  color: #97f68e;
}

.cards-fondo-1 {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  color: #000;
  border-top: 0 solid transparent;
  border-radius: 20px 20px 0 0;
  height: 20vh;
}

.section-cards {
  display: flex;
  align-items: center;
  gap: 25px;
}

.section-cards img {
  height: 50px;
}

/*====QUIENES SOMOS======*/

.section-2 {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 10%;
  margin: 1px;
  gap: 90px;
  height: 115vh;
}

.section-gap {
  gap: 28px;
  display: flex;
  flex-direction: column;
}

.full-section2-card1 span {
  border: 2px solid hsl(108, 100%, 50%);
  border-radius: 30px;
  display: flex;
  width: 45px;
}

.full-section2-card2 {
  display: flex;
  justify-content: space-between;
  height: 60vh;
  gap: 100px;
}

.full-section2-img {
  height: 50%;
}

.cards-fondo-section2 {
  display: flex;
  justify-content: space-evenly;
  height: 23vh;
}
.cards3-section2 {
  border: 2px solid #7575753c;
  border-radius: 5px;
  text-align: center;
  width: 30%;
}

/*===ubicacion-section3*/

.section-3{
  padding: 20px;
  background-color: #ffffff;
}

.section3-card1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  
}

.section3-card{
  display: flex;
  flex-direction: column;
}
